<div class="sum_food">
  <h4>Количества калорий</h4>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Имя</th>
      <th>Вес, гр</th>
      <th>Бел, гр</th>
      <th>Жир, гр</th>
      <th>Угл, гр</th>
      <th>Кал, ккал</th>
    </tr>
    </thead>
    <tbody *ngFor="let food of foods" (click)="onSelect(food)">
    <tr>
      <td>{{food.name}}</td>
      <td>{{food.weight}}</td>
      <td>{{food.roteins}}</td>
      <td>{{food.fats}}</td>
      <td>{{food.uglev}}</td>
      <td>{{food.kKal}}</td>
    </tr>
    </tbody>
    <tr>
      <th>Сумма</th>
      <th>{{sumElementov.weight}}, гр</th>
      <th>{{sumElementov.roteins}}, гр</th>
      <th>{{sumElementov.fats}}, гр</th>
      <th>{{sumElementov.uglev}}, гр</th>
      <th>{{sumElementov.kKal}}, кКал</th>
    </tr>
  </table>
</div>

<app-modal-table #detail [foodAll]="food" (save)="update($event)" (delete)="delete($event)"> </app-modal-table>

