<div class="form_foods">
  <form [formGroup]="foodsForm" novalidate (ngSubmit)="submit()">
    <div class="form-group">
      <label class="_label">Имя</label>
      <input type="text" class="form-control" formControlName="name" >
    </div>
    <div class="form-group">
      <label class="_label" >Вес</label>
      <input type="number" class="form-control" formControlName="weight" >
    </div>
    <div class="form-group">
      <label class="_label">Белки</label>
      <input type="number" class="form-control" formControlName="roteins">
    </div>
    <div class="form-group">
      <label class="_label" >Жиры</label>
      <input type="number" class="form-control" formControlName="fats" >
    </div>
    <div class="form-group">
      <label class="_label">Углеводы</label>
      <input type="number" class="form-control" formControlName="uglev" >
    </div>
    <div class="form-group">
      <label class="_label">Калории</label>
      <input type="number" class="form-control" formControlName="kKal" >
    </div>

    <button class="btn _btn" [disabled]="foodsForm.invalid">Отправить</button>
  </form>
</div>
