<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" [routerLink]="['new']">New Product</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <ul>
      <li *ngFor="let product of products">
        <a [routerLink]="[product.id]" class="list-group-item clearfix _list" >
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{ product.name }}</h4>
          </div>
          <div class="pull-right">
            <img [src]="product.imageUrl" alt="{{ product.name }}" class="img-responsive" style="max-height: 50px;">
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>


