<br>
<div class="_user wrapper">
  <div class="image-wrapper">
    <img src="//cdn0.iconfinder.com/data/icons/user-pictures/100/male-256.png" alt="Alex Tkachov" />
    <h1 class="name">Mitya Zamay</h1>
  </div>
  <form>

    <div class="foo">
      <div class="group">
        <input type="text" class="form-control" placeholder="Рост"><span class="highlight"></span><span class="bar"></span>
      </div>
      <div class="group">
        <input type="email" class="form-control" placeholder="Вес"><span class="highlight"></span><span class="bar"></span>
      </div>
      <div class="group">
        <input type="email" class="form-control" placeholder="Возраст"><span class="highlight"></span><span class="bar"></span>
      </div>
    </div>


    <div class="group">
      <input id="date" type="date">
    </div>
    <div class="group">
      <input type="email"placeholder="Email"><span class="highlight"></span><span class="bar"></span>
    </div>
    <button type="button" class="button buttonBlue">Сохранить
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
  </form>
</div>
<br>
