<div class="sum_foot">
  <h4>Количества калорий</h4>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Имя</th>
      <th>Вес, гр</th>
      <th>Бел, гр</th>
      <th>Жир, гр</th>
      <th>Угл, гр</th>
      <th>Кал, ккал</th>
    </tr>
    </thead>
    <tbody *ngFor="let foot of foots" (click)="onSelect(foot)">
    <tr>
      <td>{{foot.name}}</td>
      <td>{{foot.weight}}</td>
      <td>{{foot.roteins}}</td>
      <td>{{foot.fats}}</td>
      <td>{{foot.uglev}}</td>
      <td>{{foot.kKal}}</td>
    </tr>
    </tbody>
    <tr>
      <th>Сумма</th>
      <th>{{sumElementov.weight}}, гр</th>
      <th>{{sumElementov.roteins}}, гр</th>
      <th>{{sumElementov.fats}}, гр</th>
      <th>{{sumElementov.uglev}}, гр</th>
      <th>{{sumElementov.kKal}}, кКал</th>
    </tr>
  </table>
</div>
